/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  Custom Styles
*/

body {
  width: 840px;
  margin: 0 auto;
  font-family: Arial, Verdana, sans-serif;
}

li {
  display: inline-block;
  color: #fff;
  font-size: 8pt;
  font-weight: bold;
  width: 250px;
  text-transform: uppercase;
}

.navlinks {
  background-color: #fff;
  width: 820px;
  margin-left: auto;
  margin-right: auto;
}

.navlinks ul {
  display: inline-block;
  text-align: center;
  margin: 0px;
  font-size: 0px;
}

.navlinks ul li a {
    text-decoration: none;
    font-size: 14pt;
    letter-spacing:-.15em;
}

.navlinks ul li a:visited {
    text-decoration: none;
    font-size: 14pt;
    letter-spacing:-.15em;
}

.navlinks ul li a:hover {
    text-decoration: none;
    font-size: 14pt;
    color: #222;
    letter-spacing:0em;
}

.column {
  background-color: #f2f2f2;
  width: 360px;
  float: left;
  margin: 10px;
  padding: 20px;
}

.column2 {
  background-color: #f2f2f2;
  width: 780px;
  float: left;
  margin: 10px;
  padding: 20px;
}

.links {
  background-color: #fff;
  padding: 15px;
  text-align: center;
  color: #28a1c9;
}

.image {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

a:link {
  color: #28a1c9;
  text-decoration: none;
}

a:visited {
  color: #28a1c9;
  text-decoration: none;
}

a:hover {
  color: #4d4d4d;
  text-decoration: none;
  letter-spacing: .1em;
}

.contact {
  padding: 10px;
  margin: 10px;
  background-color: #a9a9a9;
}

.contact ul {
  list-style-type: none;
  text-align: center;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.contact ul li a {
  color: #fff;
  text-decoration: none;
}

.contact ul li a:visited {
  color: #fff;
  text-decoration: none;
}

.contact ul li a:hover {
  color: #28a1c9;
  text-decoration: none;
  letter-spacing: .1em;
}

h1 {
 color: #28a1c9;
 font-size: 16pt;
 text-align: center;
 padding: 125px;
 text-transform: uppercase;
 letter-spacing:1em;
 width: 650px;
}

h2 {
  color: #28a1c9;
  font-weight: bold;
  font-size: 8pt;
  text-transform: uppercase;
  letter-spacing:.4em;
  margin-bottom: 5px;
}

h3 {
  color: #4d4d4d;
  font-weight: bolder;
  font-size: 8pt;
  letter-spacing:-.1em;
  margin-bottom: 3px;
}

p {
  color: #4d4d4d;
  font-size: 9pt;
  line-height: 13px;
}

hr {
  width: 97.5%
}