/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  Custom Styles
*/

body {
  background-color: #ccc;
  background: url('../images/noisy_net.png');
  background-repeat: repeat;
  font-family: Arial, Verdana, sans-serif;
  margin: 0 auto;
}

.silhouette {
  margin-top: -15px;
  float: left;
}

.top {
  background: -webkit-linear-gradient(to left, #C1C1C1, #FFF);
  background:    -moz-linear-gradient(to left, #C1C1C1, #FFF);
  background:     -ms-linear-gradient(to left, #C1C1C1, #FFF);
  background:      -o-linear-gradient(to left, #C1C1C1, #FFF);
  background:         linear-gradient(to left, #C1C1C1, #FFF);
  background-color: #fff;
  padding: 50px 0 100px 25px;
}

.navlinks {
  float: left;
  width: 800px;
}

a:link {
  color: #4d4d4d;
  text-decoration: none;
}

a:visited {
  color: #4d4d4d;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

.icons {
  float: right;
  margin-right: 50px;
  margin-top: -20px;
}

li {
  color: #fff;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14pt;
  font-family: 'Fjalla One', sans-serif;
}

.bodywrap {
  margin: 0 auto;
  width: 840px;
}

.column {
  background-color: #f2f2f2;
  float: left;
  margin:10px;
  padding: 20px;
  width: 360px;
}

.column2 {
  background-color: #f2f2f2;
  float: left;
  margin: 10px;
  padding: 20px;
  width: 780px;
}

.links {
  color: #28a1c9;
  margin: 10px;
  padding: 15px;
  text-align: center;
  width: 790px;
}

.image {
  margin-top: 100px;
  text-align: center;
}

a:link {
  color: #4d4d4d;
  text-decoration: none;
}

a:visited {
  color: #4d4d4d;
  text-decoration: none;
}

a:hover {
  color: #d3d3d3;
  text-decoration: none;
}

.contact {
  margin: 0 auto;
  padding: 10px;
  width: 600px;
}

.contact ul {
  list-style-type: none;
  text-align: center;
}

h1 {
 color: #393939;
  font-family: 'Fjalla One', sans-serif;
 font-size: 28pt;
 letter-spacing:.25em;
 margin-bottom: 10px;
 text-transform: uppercase;
}

h2 {
  color: #4d4d4d;
  font-size: 8pt;
  font-weight: bold;
  letter-spacing:.3em;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-family: 'Playfair Display SC', serif; 
}

h3 {
  color: #4d4d4d;
  font-size: 9pt;
  font-weight: bolder;
  letter-spacing:-.1em;
  line-height: 14pt;
}

p {
  color: #4d4d4d;
  font-size: 9pt;
  line-height: 18px;
}

hr {
  width: 97.5%
}

/* START EXPERIMENTS */

.calendarwrap {
  margin: 0 auto;
  width: 300px;
}

.calendartitleleft {
  background: #2a9ce8;
  background-image: url('../images/arrowleft.png');
  background-repeat: no-repeat;
  background-position: center;
  border-right: none;
  border-radius: 5px 0 0 0;
  -moz-box-shadow:    inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow:         inset 0 0 1px #000000;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 40px;
  float: left;
}

.calendartitlecenter {
  background: #2a9ce8;
  color: #fff;
  line-height: 20px;
  font-size: 13pt;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  text-align: center;
}

.calendartitleright {
  background: #2a9ce8;
  background-image: url('../images/arrowright.png');
  background-repeat: no-repeat;
  background-position: center;
  border-right: none;
  border-radius: 0 5px 0 0;
  -moz-box-shadow:    inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow:         inset 0 0 1px #000000;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 40px;
  float: left;
}

.calendardays li {
  background: #d7d5d5;
  color: #999;
  display: inline-block;
  float: left;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  text-align: center;
  width: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
    -moz-box-shadow:    inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow:         inset 0 0 1px #000000;
}

.row li {
  background: #fff;
  color: #ccc;
  display: inline-block;
  float: left;
  font-family: Arial, sans-serif;
  font-size: 12pt;
  text-align: center;
  width: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
    -moz-box-shadow:    inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow:         inset 0 0 1px #000000;
}

.old {
  color: blue;
}

.column3 {
  background-color: #898989;
  color: #FFF;
  font-family: 'Titillium Web', sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 550px;
}

.column3 a {
  color: #FFFF00;
  font-size: 14pt;
  text-decoration: none;
}

.column3 a:visited {
  text-decoration: none;
}

.column3 a:hover {
  color: #FFF;
  font-size: 14pt;
  text-decoration: none;
}

.topexp {  
  color: #FFF;
  font-size: 14pt;
  padding-bottom: 15px;
}

.lightexp {
  font-weight: lighter;
}

.boldexp {
  font-weight: bolder;
}

.largeexp {
  color: #FFF;
  font-size: 48pt;
  letter-spacing: .2em;
  padding-top: 30px;
  padding-bottom: 30px;
  text-indent: 35px;
}

.bottomexp {
  color: #FFF;
  font-size: 12pt;
  font-weight: lighter;
  margin-top: 25px;
}

.numberexp {
  color: #FFF;
  font-size: 18pt;
  font-weight: bold;
}

.session {
  background-color: #37ceb3;
  border-radius: 30px;
  color: #FFF;
  font-size: 18pt;
  margin-top: 60px;
  margin-left: 100px;
  padding: 20px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  width: 300px;
}

.alerts {
  background: #fff9ad;
  margin: 0 auto;
  padding: 40px;
  width: 700px;
}

.alertwrap {
  margin: 0 auto;
  padding: 45px;
  width: 650px;
}

.alertLeft {
  background: #2b82bd;
  background-image: url('../images/lightbulb.png');
  background-repeat: no-repeat;
  background-position: center;
  border-right: none;
  border-radius: 10px 0 0 10px;
  -moz-box-shadow:    inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow:         inset 0 0 1px #000000;
  margin: 0 auto;
  padding-bottom: 40px;
  padding-top: 40px;
  width: 80px;
  float: left;
}

.alertLeft2 {
  background: #68993d;
  background-image: url('../images/cpoint.png');
  background-repeat: no-repeat;
  background-position: center;
}

.alertLeft3 {
  background: #bea53f;
  background-image: url('../images/expoint.png');
  background-repeat: no-repeat;
  background-position: center;
}

.alertLeft4 {
  background: #b93f3c;
  background-image: url('../images/xx.png');
  background-repeat: no-repeat;
  background-position: center;
}

.alertRight {
  background: -webkit-linear-gradient(to right, #3aaffe, #2a9ce8);
  background:    -moz-linear-gradient(to right, #3aaffe, #2a9ce8);
  background:     -ms-linear-gradient(to right, #3aaffe, #2a9ce8);
  background:      -o-linear-gradient(to right, #3aaffe, #2a9ce8);
  background:         linear-gradient(to right, #3aaffe, #2a9ce8);
  background-color: #2a9ce8;
  border-left: none;
  border-radius: 0 10px 10px 0;
  -moz-box-shadow:    inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow:         inset 0 0 1px #000000;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 540px;
  float: left;
}

.alertRight2 {
  background: -webkit-linear-gradient(to right, #8fd055, #7ab943);
  background:    -moz-linear-gradient(to right, #8fd055, #7ab943);
  background:     -ms-linear-gradient(to right, #8fd055, #7ab943);
  background:      -o-linear-gradient(to right, #8fd055, #7ab943);
  background:         linear-gradient(to right, #8fd055, #7ab943);
  background-color: #7ab943;
}

.alertRight3 {
  background: -webkit-linear-gradient(to right, #ffdd58, #f8d23c);
  background:    -moz-linear-gradient(to right, #ffdd58, #f8d23c);
  background:     -ms-linear-gradient(to right, #ffdd58, #f8d23c);
  background:      -o-linear-gradient(to right, #ffdd58, #f8d23c);
  background:         linear-gradient(to right, #ffdd58, #f8d23c);
  background-color: #f8d23c;
}

.alertRight4 {
  background: -webkit-linear-gradient(to right, #f95552, #e34240);
  background:    -moz-linear-gradient(to right, #f95552, #e34240);
  background:     -ms-linear-gradient(to right, #f95552, #e34240);
  background:      -o-linear-gradient(to right, #f95552, #e34240);
  background:         linear-gradient(to right, #f95552, #e34240);
  background-color: #e34240;
}

.alerttext {
  color: #fff;
  font-size: 12pt;
  line-height: 15pt;
  text-indent: 25px;
  text-shadow: 1px 1px #404041;
}

strong {
  font-weight: bold;
}

/* END EXPERIMENTS */

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix: after {
  clear:both;
}

